In [16]:
import numpy as np
import pandas as pd

In [18]:
emotions = "../GAMEEMO/(S01)/Preprocessed EEG Data/.csv format/S01G4AllChannels.csv"
data = pd.read_csv(emotions)
data = data.drop(columns=["Unnamed: 14"])
data.head()

,AF3,AF4,F3,F4,F7,F8,FC5,FC6,O1,O2,P7,P8,T7,T8
0,-3.6154,0.7229,1.20530,5.0617,-5.0617,-5.06170,-16.6308,-1.20530,26.2718,7.4718,12.7745,12.2925,-0.7229,-4.09740
1,-9.6652,-4.1410,-2.24170,-0.5449,-11.9886,-9.09610,-24.7918,0.31351,10.5955,8.4695,7.6694,9.1446,1.2484,0.96897
2,-4.7468,-2.4462,0.30338,-0.5122,-10.7873,-11.44280,-28.1250,2.70480,-4.1402,9.4076,12.5119,7.6316,2.6198,0.42890
3,1.5638,3.2441,3.41820,11.3291,-4.5965,-0.87432,-15.5912,-2.03670,-2.4458,-2.4850,2.3612,4.0407,-3.5629,1.60800
4,-6.4840,-1.5298,2.00830,6.5520,-13.7205,-8.77560,-20.1994,1.21850,-3.0219,11.7641,7.2812,12.7159,-7.4467,3.19870

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38252 entries, 0 to 38251
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AF3     38252 non-null  float64
 1   AF4     38252 non-null  float64
 2   F3      38252 non-null  float64
 3   F4      38252 non-null  float64
 4   F7      38252 non-null  float64
 5   F8      38252 non-null  float64
 6   FC5     38252 non-null  float64
 7   FC6     38252 non-null  float64
 8   O1      38252 non-null  float64
 9   O2      38252 non-null  float64
 10  P7      38252 non-null  float64
 11  P8      38252 non-null  float64
 12  T7      38252 non-null  float64
 13  T8      38252 non-null  float64
dtypes: float64(14)
memory usage: 4.1 MB

In [39]:
# valence = (AF4/F4) - (AF3/F3)
# data = data.drop(columns=["Unnamed: 14"])
data["calc_valence"] = ((data["AF4"]/data["F4"]) - (data["AF3"]/data["F3"]))
data["roll_avg_valence"] = data["calc_valence"].rolling(20).mean()
reduced = data["roll_avg_valence"]
# print(reduced.loc[60:100])
# mean_pos = data["calc_valence"].mean()
# print(mean_pos)

-0.78350174126098

In [40]:
# NEGATIVE
emotions_neg = "../GAMEEMO/(S01)/Preprocessed EEG Data/.csv format/S01G3AllChannels.csv"
data_neg = pd.read_csv(emotions_neg)
data_neg = data_neg.drop(columns=["Unnamed: 14"])
data_neg["calc_valence"] = ((data_neg["AF4"]/data_neg["F4"]) - (data_neg["AF3"]/data_neg["F3"]))
data_neg["roll_avg_valence"] = data_neg["calc_valence"].rolling(20).mean()
reduced_neg = data_neg["roll_avg_valence"]
# print(reduced_neg.loc[60:100])
# mean_neg = data_neg["calc_valence"].mean()
# print(mean_neg)

1.887621987276235

In [11]:
vals = pd.DataFrame({'valence': ['neg', 'pos']})
# print(vals)
dummies = pd.get_dummies(vals, drop_first=True)
print(dummies)

   valence_pos
0            0
1            1

In [14]:
from sklearn import linear_model

X = pd.concat([data[['calc_valence']], dummies], axis=1)
X.head()

   calc_valence  valence_pos
0      3.142403          0.0
1      3.288010          1.0
2     20.422253          NaN
3     -0.171141          NaN
4      2.995115          NaN